/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #fffb00;
}

#root {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

p {
  color: #000000;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: #2980b9;
}